In [2]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
import pandas as pd 
import numpy as np

In [24]:
url = "data/OrinaAntLimpio.csv"
datos = pd.read_csv(url, encoding="unicode_escape", index_col=[0])
datos.dtypes
datos["Peso"].dtype

dtype('float64')

In [44]:
#datos_num = datos.select_dtypes(include=np.number).drop("numVol",1)

# create a scaler object

scaler = MinMaxScaler()

#fit & transform the data

#datos_norm = pd.DataFrame(scaler.fit_transform(datos_num), columns = datos_num.columns)
#datos_norm = datos.apply(lambda x: scaler.fit_transform(x) if x[.name] not in ["numVol", "Tiempo", "Endulzante", "Sexo"] else x)
numCols = datos.select_dtypes(include=np.number).drop("numVol",1).columns
datos[numCols] = scaler.fit_transform(datos[numCols])
datos.head()

C:\Users\CRISTI~1\AppData\Local\Temp/ipykernel_21552/2619024790.py:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  numCols = datos.select_dtypes(include=np.number).drop("numVol",1).columns

,numVol,Endulzante,CA.Gluc,DHPAA.Gluc,TFA.Gluc,TFA.Sulfate,Ácido.Vanílico..VA.,Tiempo,Sexo,Peso,IMC,Grasa,IRCV,Bpmin,Bpmax,Frec
1,2,ST,0.854642,0.287856,0.003063,0.156336,0.132058,0,MUJER,0.238835,0.390977,0.693410,0.266667,0.328358,0.345238,0.457627
2,3,ST,0.020402,0.154252,0.011191,0.075332,0.019029,0,MUJER,0.436893,0.353383,0.710602,0.466667,0.238806,0.345238,0.372881
3,8,ST,0.018567,0.101799,0.073855,0.079011,0.014788,0,MUJER,0.172816,0.218045,0.690544,0.133333,0.253731,0.345238,0.627119
4,9,ST,0.007350,0.113523,0.003745,0.016538,0.016962,0,MUJER,0.132039,0.436090,0.868195,0.333333,0.253731,0.345238,0.542373
5,10,ST,0.010822,0.011633,0.000818,0.010418,0.014081,0,MUJER,0.648544,0.789474,0.853868,0.400000,0.432836,0.857143,0.644068

In [48]:
datosNum = datos.select_dtypes(include=np.number).drop("numVol",1)
pca = PCA(n_components=2)
pca.fit(datosNum)

datos_reduced = pca.transform(datosNum)

C:\Users\CRISTI~1\AppData\Local\Temp/ipykernel_21552/1673312749.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  datosNum = datos.select_dtypes(include=np.number).drop("numVol",1)

In [52]:
datosRed_df = pd.DataFrame(datos_reduced, index= datosNum.index, columns = ["PC1", "PC2"])
datosRed_df["clusters"] = datos_reduced.clusters
datosRed_df.head()

AttributeError: 'numpy.ndarray' object has no attribute 'clusters'